#education{
    width: 100%;
    height: fit-content;
    color: white;
    .row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 4rem;
        .col{
            h3{
                font-size: 2rem;
            }
            .education-box{
                border-left: 1px solid $btn;
                .education-content{
                    padding: 0 2rem;
                    position: relative;
                    .content{
                        padding: 1rem;
                        margin: 1rem 0;
                        border: 1px solid $btn;
                        border-radius: .6rem;
                        .year{
                            color: $btn;
                            font-size: .9rem;
                            span{
                                padding-left: .6rem;
                            }
                        }
                        h2{
                            font-size: 1.2rem;
                        }
                        p{
                            font-size: .8rem;
                        }
                    }
                }
                .education-content::before{
                    position: absolute;
                    content: '';
                    top: 0;
                    left: -1.1rem;
                    transform: translateX(50%);
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    background-color: $btn;
                }
            }
        }
    }
}